<%= form_tag login_casein_auth_path do %>

	<% if flash[:warning] %>
		<div class="error">
			<p><%= flash[:warning] %></p>
		</div>
	<% end %>
	
	<% if flash[:notice] %>
		<div class="notice">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>

	<div class="text">
		<p>
			<%= label_tag :login, "Login:" %>
			<%= text_field_tag :login, params[:login], :class => "caseinTextField" %>
		</p>
	</div>
	
	<div class="text">
		<p>
			<%= label_tag :form_password, "Password:" %>
			<%= password_field_tag :form_password, params[:form_password], :class => "caseinTextField" %>
		</p>
	</div>
	
	<div class="submit_remember">
		<p>
			<%= check_box_tag :remember_me %> Remember me
			<br /><br />
			<%= submit_tag "Log in", :class => "caseinSubmit" %>
			<input type="button" value="Forgotten password?" class="caseinSubmitBlue" onclick="toggleDiv('recover')" />
		</p>
	</div>
	
<% end %>
<%= form_tag :action => :recover_password do %>
	<div id="recover">
	
		<div class="text">
			<p>
				<%= label_tag :recover_email, "Email:" %>
				<%= text_field_tag :recover_email, params[:recover_email], :class => "caseinTextField" %>
			</p>
		</div>
		<div class="submit_remember">
			<p>
				<%= submit_tag "Reset", :class => "caseinSubmit" %>
			</p>
		</div>
	</div>
<% end %>