<h2><%= plural_name.humanize.capitalize %></h2>

<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
	<tr>
		<% for attribute in attributes %><th><%= attribute.name.humanize %></th>
		<% end %><th>&nbsp;</th>
	</tr>
	
	<%% row = 1 %>

	<%% for <%= singular_name %> in @<%= plural_name %> %>
		<tr class="<%%= casein_table_row_class_name row %> hover">
			<% for attribute in attributes %><td><%%= link_to <%= singular_name %>.<%= attribute.name %>, casein_<%= singular_name %>_path(<%= singular_name %>) %></td>
			<% end %><td class="delete">
				<%%= link_to(casein_show_row_icon("delete"), casein_<%= singular_name %>_path(<%= singular_name %>), :method => :delete, :confirm => "Are you sure you want to delete this <%= singular_name.humanize.downcase %>?") %>
			</td>
		</tr>
		<%% row += 1 %>
	<%% end %>
</table>

<%%= will_paginate @<%= plural_name %> %>


<%% content_for :sidebar do %>
  <li><a href="<%%= url_for new_casein_<%= singular_name %>_path %>"><%%= casein_show_icon "add" %>Add a new <%= singular_name.humanize.downcase %></a></li>
<%% end %>